<h1>Signs</h1>
<ul>
    <% signs.forEach(sign => {%>
        <li><a href="/fire/<%= sign%>"><%= sign %></a></li>
    <% }) %>
</ul>

<h1>Traits</h1>
<ul>
    <% traits.forEach(trait => { %>
        <li><%= trait %></li>
        <% }) %>

</ul>