<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zodiac Vibes</title>
</head>
<body>
    <h1>Zodiac's</h1>
    <%- body %>
    <ul>
        <li><a href="/water/water">water</a></li>
        <li><a href="/earth/earth">earth</a></li>
        <li><a href="/fire/fire">fire</a></li>
        <li><a href="/air/air">air</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <h3></h3>
</body>
</html>